<div class="panel panel-cabecera">
    <div>
        <div class="tit-page float-left">FootB<spam class="all-text">all</spam><img src="http://www.clipartbest.com/cliparts/niE/xbg/niExbgxiA.png" style="width:55px; height:55px; margin-bottom:50px; margin-left: 10px"/> DB</div>
        <div class="botones-access float-right {{cab.usuarioLogout}}">
            <button class="btn acs" ng-click="cab.openModReg()">Registro</button>
            <button class="btn acs" ng-click="cab.openModLog()">Login</button>
        </div>
        <div class="botones-access float-right {{cab.usuarioLogin}}">
            <button class="btn acs" ng-click="cab.openModModif()">Modificar datos</button>
            <button class="btn acs" ng-click="cab.logoff()">Logg off</button>
            <button class="btn acs" ng-click="cab.pagPrincipal()">Mi página</button>
        </div>
    </div>
</div>
